        /* How to write comment */
        /* <!-- How To .. Syntax  --> */
        /* selector is tags html
Rule
1- selector{
    property:value;//called declaration
} */
        
        small {
            color: green;
        }
        
        body {
            height: 5000px;
        }
        /* Background*/
        
        div {
            /* 1) background-color default value is transperent or white */
            /* background-color: red; */
            /* ctrl+ - or ctrl+ + (zoom in or zoom out) */
            /* 2) background-image */
            /* background-image: url(../images/img.jpg); */
            /* height: 500px; */
            /* 3) background-repeat  default value is repeat*/
            /* background-repeat: no-repeat; */
            /* background-repeat: repeat-x; */
            /* background-repeat: repeat-y; */
            /* 4) background-attachment default value is is scroll*/
            /* background-attachment: scroll; */
            /* background-attachment: fixed; */
            /* height: 250px; */
            /* 5) background-position*/
            /* background-position: 10px 20px; */
            /* background-position: top right; */
            /* background-position: top left; */
            /* background-position: center; */
            /* 6)background */
            /* background:red * or any value  */
            background: red url(../images/img.jpg) no-repeat scroll center;
        }
        /* width & height */
        
        .one {
            color: green;
            width: 200px;
            min-width: 100px;
            min-height: 200px;
            background: blue;
        }
        /* margin & padding & border & outline */
        
        .two {
            color: white;
            width: 200px;
            background: orangered;
            margin: 10px 20px 50px 15px;
            padding: 15px;
            border: 2px solid red;
            outline: 5px solid orange
        }
        /* Text properties */
        
        .text {
            text-align: center;
            color: green;
            letter-spacing: 10px;
            word-spacing: 20px;
            line-height: 30px;
            text-decoration: underline;
            text-transform: uppercase;
            /* text-decoration: line-through */
            /* overflow: scroll; */
            overflow: hidden;
        }
        
        html {
            direction: rtl;
        }
        /* font */
        /* font size default 16px */
        /* font weight 100-400 normal,700-900 bold */
        
        .font {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 20px;
            font-weight: 900;
            font-style: oblique;
            font: normal 900 30px tajawal
        }
        /* list */
        /* list-style-type default (disc) */
        
        ul {
            list-style-type: circle;
            /* list-style-image: url(../images/img.jpg); */
            list-style-position: outside
        }
        /* Table */
        
        table {
            width: 250px;
            height: 250px;
            caption-side: bottom;
        }
        
        td {
            vertical-align: center;
        }