/* For Arabic language */


/* html {
    direction: rtl;
} */

body {
    background: #AAA;
    margin: 0;
}

.content {
    width: 100%;
    max-width: 960px;
    margin: auto;
}

.flex-container {
    background: #fff;
    /*1.display: flex الحل الافضل */
    display: flex;
    height: 600px;
    /*2.Flex-Direction item الي ننطي للابناءكما في كلاس float الحل لل 
    [row(default),row-reverse,column,column-reverse] */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* 5.Flex-wrap[no-wrap,wrap,wrap-reverse] */
    /* flex-wrap: wrap-reverse; */
    /* flex-flow is row = flex-basis is initial width
    & flex-flow is column = flex-basis is initial height */
    /* 8.flex-flow(flex-direction flex-wrap)*/
    /* flex-flow: row-reverse nowrap; */
    /* 9. [justify-content and Axis حسب قيمته flex-flowيعمل مع ال 
    [flex-start,flex-end,center,space-around,space-between] */
    /* flex-flow: row; */
    /* justify-content: space-between  */
    /* 10.align-items and axis حسب قيمته flex-flowيعمل مع ال */
    /* align-items: center */
    /* 11. align-self */
    /* align-self: flex-start; */
    /* 12.align-content (flex-wrap تعمل مع ) */
    /* align-content: space-around; */
}


/* الحل الثاني */


/* .flex-container:after {
    content: "";
    display: block;
    clear: both;
} */

.item {
    min-width: 100px;
    height: 100px;
    /* 7.flex (flex-grow,flex-shrink,flex-basis) هي اختصار لل */
    /* flex: 1 0 100px; */
    /*6. flex-basis بس هذا افضل ميسوي تمديد للصفحة بحيث يكفي الصفحة
    flex-basis=(min-width and min-height) */
    /* flex-basis: 400px; */
    /* width: 200px; */
    /* float: left; */
    /*3. Flex-grow تتحكم بالعرض للعنصر */
    /* flex-grow: 1; */
}

.first {
    background: fuchsia;
    /*13. element order */
    /* order: 2; */
    /* 4.Flex-shrink (العنصر يتقلص responsiveالي منطيته اعلى قيمة هو الي يصغر بال)*/
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* flex-basis: 100px; */
}

.second {
    background: darkmagenta;
    /* flex-grow: 2; */
    /* flex-shrink: 2; */
    /* flex-basis: 200px; */
}

.third {
    background: deeppink;
    /* flex-grow: 3; */
    /* flex-shrink: 3; */
}


/* الحل الاول */


/* .clear {
    clear: both;
} */