/* Attr Selector جيب اي عنصر و بداخلة الاتربيوت معين و انطي الخواص التالية */


/* input[type="text"] {
    background: red;
    border: 0;
} */


/* input[type="password"] {
    background: black;
    border: 0;
    color: #fff;
}

[type="text"] {
    background: seagreen;
} */


/* universal Selector [*] */

* {
    margin: 0;
    padding: 0;
}


/* Navbar */

.navbar {
    background: #333;
}

.navbar h2 {
    font-size: 22px;
    color: #fff;
    width: 20%;
    float: left;
    padding-top: 10px;
}

.navbar>ul {
    list-style: none;
    width: 80%;
    float: left;
}

.navbar>ul li {
    display: inline-block;
    width: 100px;
}

.navbar>ul li a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.navbar>ul li {
    position: relative;
}


/* Dropdown */

.navbar>ul li ul {
    position: absolute;
    display: none;
}

.navbar>ul li a:hover+ul {
    display: block;
}

.clear {
    clear: both;
}


/* CSS Form */

form input,
form select {
    display: block;
    width: 100%;
}

form input:focus {
    background: red;
}


/* after & before inline element so I can't give it width and height*/

.ulItem {
    padding: 20px;
    list-style: none;
}

.ulItem li {
    vertical-align: middle;
}

.ulItem li::before {
    content: "";
    /*يمك*/
    display: inline-block;
    /* display: block; قبلك*/
    width: 5px;
    height: 5px;
    background: red;
    margin-right: 10px;
    vertical-align: middle;
}


/* CSS Units ....[px,em,rem,vh(from height),vw(from width)] em=font-size parent*value em (relative to parent element),
                                   rem=font-size html*value rem(relative to root element)*/

html {
    font-size: 16px;
}

.parent {
    font-size: 15px;
}

.child {
    /* margin: 2em; */
    /* margin: 2rem; */
    background: red;
    width: 50vw;
    height: 50vh;
}


/* Galery */


/* More About Nesting */


/* يعتبر عنصر واحد اذا لازكة ببعض ماكو فراغ */

p.item {
    color: aquamarine;
}

.item.test.orange {
    color: blue;
}

.item .test .orange {
    color: cornflowerblue
}


/* Specificity
   يكسب بناء على idدائما ال
   [styleinline htmlيكون داخل ال ,id, (class|pseudo class|attr selector) ,element]*/

.local {
    color: coral;
}

#demo {
    color: yellow;
}