/* color */

.test {
    width: 200px;
    height: 200px;
    background: #f50/* rgb */
}


/* class& id */


/* class more than element same class & element take more than class
 & id can't more than element same id & element just one id*/

#about {
    color: green
}


/* Display [none, block(full width=100%),inline,inline-block]*/


/* element block 1) width 100%,2)width,height,margin & padding is work with it */

.test {
    display: none;
}


/* p {
    background: red;
    width: 100px;
    height: 100px;
    margin: 20px;
    padding: 20px
} */


/* element inline 1) width is same word inside tag,2)width & height is not work with it ,margin is work right and left & 
padding is work right and left more than top and bottom*/

span {
    background: yellow;
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
}


/* display: inline; not work width & height with it */


/* display:none; word remove but not reserve place for it */


/* li{
    display: inline;
} */

li {
    display: inline-block;
    width: 100px;
    height: 100px;
}

button {
    background: red;
    width: 200px
}


/* visibility */


/* visibility: hidden; word is remove but reserve place for it
is useful in dropdown */

.first {
    color: #fff;
    /* visibility: hidden; */
    visibility: visible;
    /*is default value*/
}


/* position[static is default,relative,absolute,fixed */

.pos {
    width: 100%;
    height: 100px;
    background: #f50;
    /* position: absolute; */
    /* العنصر براحته بالصفحة يتحرك بالنسبة للصفحة*/
    /* position: relative; */
    /* يتحرك العنصر بالنسبة لمكانه مع مراعاة مكانه و يحجز مكانه*/
    /* position: relative; */
    position: fixed;
    /*width:100% من تنطي  لازم ال*/
    /*fixed*/
    top: 50px;
    right: 0;
}

.child {
    /* الابسليوت يروح للاب يشوفة بي ريلاتف و يتحرك بالنسبة اله */
    position: absolute;
    right: 40px;
}

body {
    height: 2000px;
}

.hero {
    height: 400px;
    background: blue;
    position: relative;
}

.center {
    width: 100px;
    height: 100px;
    background: #000;
    position: absolute;
    /* hero image */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ex2 {}

.test1 {
    width: 100px;
    height: 100px;
    background: green;
    /* z-index: 1; */
    /* position: absolute; */
}

.test2 {
    width: 100px;
    height: 100px;
    background: greenyellow;
    z-index: 10;
    position: absolute;
}


/* Float [right,left,none] مشاكله يخرج خارج الاب مالته ويمكن 1.حله اما اخلي للاب ارتفاع*/


/*clear المشكلة الثانية العناصر الي بعد الفلوت تلقائيا تتأثر بالفلوت ويمكن حله ايضا بال */

.parent {
    background: gold;
    /* height: 250px; */
}

.item {
    background: red;
    width: 20%;
    height: 200px;
    margin: 10px;
    border: 2px solid #000;
    float: left;
    /* float: right; */
}


/* clear: both; معناها امسحلي الفلوت من الاتجاه اليمين او الشمال لكي الاب يحس بالابناء -2*/

.clear {
    clear: both;
}


/* opacity from 0 to 1 */

.img-item {
    width: 200px;
    height: 200px;
    opacity: 0.7;
    /*solution for problems opacity is rgba*/
}


/* Nesting & Grouping */


/* nesting  p div and another
Grouping  p,div and another */

.parent .item {}

div,
p {}


/* Pseudo Classes تعبر عن حالة معينة للعنصر[:hover,:active] */

.img-item:hover,
.img-item:active {
    opacity: 1;
    border: 1px solid red;
    padding: 10px;
}


/* Pseudo Element يغير جزء معين بالعنصر [first-line,first-letter,after,before]*/

.pseudo::first-line {
    color: #f50;
    font-size: 20px;
}

.pseudo::first-letter {
    color: goldenrod;
    font-size: 70px;
}


/* تضيف بعد اخر حاجة في العنصر */

.pseudo-1::after {
    content: "new line";
}


/* تضيف قبل اول ابن في العنصر */

.pseudo-1::before {
    content: "new line";
}


/* Selectors [> direct child], [+ direct sibling selector][~ general sinlings selector]*/

.select>p {
    color: aqua;
}

.select+p {
    color: hotpink;
}

.select~p {
    color: maroon;
}

.select .product p {
    color: violet
}